@model FormModel
@* @Html.ValidationSummary(false, "") *@
@{
    ViewData["Title"] = "TP HN Opinion Form";
    ViewData["MenuTopLink"] = "/Home/Index";
    ViewData["MenuBottomLink"] = "/Home/Index/OpinionList";
    ViewData["MenuTopText"] = "Main Menu";
    ViewData["MenuBottomText"] = "Opinion List";
}

<form asp-action="ValidationFormulaire">
    <table>
        <caption>Personal Information</caption>
        <tr>
            <td><label asp-for="LastName"></label></td>
            <td>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="FirstName"></label></td>
            <td>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Gender"></label></td>
            <td>
                <select asp-for="Gender" asp-items="ViewBag.GenderList">
                    <option value="0" disabled selected>Select a gender</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Address"></label></td>
            <td>
                <input asp-for="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="ZipCode"></label></td>
            <td>
                <input asp-for="ZipCode" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="Town"></label></td>
            <td>
                <input asp-for="Town" />
                <span asp-validation-for="Town" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="EmailAddress"></label></td>
            <td>
                <input asp-for="EmailAddress" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </td>
        </tr>
    </table>
    <table>
        <caption>Training information</caption>
        <tr>
            <td><label asp-for="TrainingStartDate"></label></td>
            <td>
                <input asp-for="TrainingStartDate" type="date" />
                <span asp-validation-for="TrainingStartDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="TrainingType"></label></td>
            <td>
                <select asp-for="TrainingType" asp-items="ViewBag.TrainingTypeList">
                    <option value="0" disabled selected>Select a training</option>
                </select>
                <span asp-validation-for="TrainingType" class="text-danger"></span>
            </td>
        </tr>
    </table>
    <table>
        <caption>
            Training Reviews
        </caption>
        <tr>
            <td><label asp-for="CobolTrainingOpinion"></label></td>
            <td>
                <input asp-for="CobolTrainingOpinion" />
                <span asp-validation-for="CobolTrainingOpinion" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="ObjectTrainingOpinion"></label></td>
            <td>
                <input asp-for="ObjectTrainingOpinion" />
                <span asp-validation-for="ObjectTrainingOpinion" class="text-danger"></span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Validation Formulaire" class="btn btn-primary" />
</form>
