<head>
    <title>HN - TP LOCAL</title>
    <link rel="stylesheet" href="~/resources/Index.css" />
</head>
<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="/Home/Index/AvisList">Liste Avis</a></li>
        </ul>
    </nav>
    <section>
       
    </section>
</body>
