@model IEnumerable<Opinion> 
@{
    ViewData["Title"] = "Opinion List";
    ViewData["MenuTopLink"] = "/Home/Index";
    ViewData["MenuBottomLink"] = "/Home/Index/Form";
    ViewData["MenuTopText"] = "Main Menu";
    ViewData["MenuBottomText"] = "Form";
}

@if (Model != null && Model.Count() > 0)
{
    <table>
        <caption>Training information</caption>
        <tr>
            <td>Last Name</td>
            <td>First Name</td>
            <td>Opinion Given</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td class="@(item.OpinionGiven == "O" ? "yes" : "no")">
                    @(item.OpinionGiven == "O" ? "Yes" : "No")
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No Opinion Given</p>
}
