@{
    ViewData["Title"] = "Welcome to the HN .Net MVC pratical work";
    ViewData["MenuTopLink"] = "/Home/Index/Form";
    ViewData["MenuBottomLink"] = "/Home/Index/OpinionList";
    ViewData["MenuTopText"] = "Fill in the form";
    ViewData["MenuBottomText"] = "Opinion List";
}

<p>
    <a href="/Home/Index/Form">Fill out form </a>
</p>

